.address {
  font-style: normal;

&__list {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  padding-inline-start: 40px;
}

&__link {
  color: var(--font-color-sec);
}
&__street {
  color: var(--font-color-white);
}
}
.link--hover:hover,
.link--hover:focus-visible {
  color: var(--font-color-contact-footer);
  transition: color $timing-function;
}