/* PORTFOLIO cards */

.card {
  padding-top: 50px;

&__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
&__info{
  padding: 20px 0 24px 24px; 
}
&__item {
  border: var(--border-porfolio-items);
  &:hover {
    box-shadow: var(--shadow-portfolio-card-item-hover);
    transition: box-shadow $timing-function;
    cursor:pointer;
  }
}
&__title {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
&__caption {
  color: var(--font-color-sec);
  font-size: 1rem;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
&__position {
  position: relative;
  overflow: hidden;
}
&__overlay {
  position: absolute;
  inset: 0;
  padding: 49px 45px 49px 24px;
  background-color: var(--bgcolor-card-overlay);
  transition: transform $timing-function;
  transform: translateY(100%);
  pointer-events: none;
} 
}
.card-overlay__caption {
  color: var(--font-color-white);
  font-size: 1.125rem;
  line-height: 1.556;
  letter-spacing: 0.03em;
}
.card__item:hover .card__overlay {
  transform: translateY(0);
  pointer-events: auto;
}