@use "../utils/mixins" as m;
/* "czym się zajmujemy" section */

.scope {
  display: none;

&__title {
  margin-bottom: 50px;
}
&__list {
  display: flex;
  justify-content: justify;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
&__item {
  position:relative;
  width: 370px;
}
&__background {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-block: 27px;
  background-color: var(--bgcolor-scope-overlay);
}
&__subtitle {
  color: var(--font-color-white);
  text-transform: uppercase;
}
&__img {
  width: 100%;
}
@include m.mq(large) {
  display: block;
}
}
